* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    background: darkmagenta;
    display: grid;
    grid-template-areas: 
    "header header header"
    "sidebar main main"
    "footer footer footer"
    ;
}

.header {
    grid-area: header;
    background: fuchsia;
    padding: 1rem;
}



.sidebar {
    padding: 1rem;
    grid-area: sidebar;
    background: aqua;
}

.main {
    grid-area: main;
    padding: 1rem;
    background: darkcyan;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
    gap: 2rem;
}

.box {
    width: 150px;
    height: 150px;
    background: cyan;
    border: 2px solid skyblue;
}

.footer {
    padding: 1rem;
    background: violet;
    grid-area: footer;
}

@media (min-width : 320px) and  (max-width : 576px) {
    
    .box {
        width: 300px;
        height: 300px;
        background: darkgray;
    }

    .main {
        grid-template-columns: repeat(1 ,1fr);
        gap: 2rem;
    }

}

@media (min-width : 576px) and (max-width : 768px) {
    
    .box {
        width: 200px;
        height: 200px;
        background: darkgray;
    }

    .main {
        grid-template-columns: repeat(2 ,1fr);
        gap: 2rem;
    }

}